@import '../../styles/breakpoint.scss';
@import '../../styles/color.scss';
@import '../../styles/positioning.scss';

.card {
  @extend %center-children;
  flex-direction: column;

  background: #211a47;
  box-shadow: 6px 4px 12px #211a47, -1px -1px 19px rgba(255, 253, 253, 0.1);
  border-radius: 10px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;

  @include --large {
    width: 383px;
    height: 361px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.container {
  max-width: 1280px;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.bg_color {
  background: #211a47;
}

.h5 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}

.p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #e6e6e6;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card_container {
  display: flex;
  flex-direction: column;
  @include --large {
    flex-direction: initial;
  }
}
