@import '../../styles/breakpoint.scss';
@import '../../styles/color.scss';

:root {
  --blue-color: #555e7d;
}

.affordable_container {
  background-color: var(--light-black);
  padding-top: 5rem;
  padding-bottom: 5rem;

  .h3 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.15;
    color: var(--light-green);
    text-align: center;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

.affordable_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3.75rem;

  @include --large {
    flex-direction: initial;
  }

  .affordable_card_container:not(:first-child) {
    margin-top: 2.5rem;

    @include --large {
      margin-top: 0;
    }
  }
}

.affordable_card_container {
  color: var(--white);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-radius: 6px;
  background: linear-gradient(
    0deg,
    rgba(33, 46, 91, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  margin: 0 auto;
  width: 90%;

  @include --large {
    min-width: 20rem;
    width: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

.card_name {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  color: white;
}

.card_info {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
  white-space: nowrap;

  @include --large {
    border: 1px solid var(--blue-color);
    background: var(--blue-color);
    min-width: 30rem;
  }
}
