@import '../../styles/breakpoint.scss';
@import '../../styles/color.scss';

.affordable_container {
  background-color: var(--light-black);
  padding-top: 5rem;
  padding-bottom: 5rem;

  .h3 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.15;
    color: var(--light-green);
    text-align: center;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

.affordable_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3.75rem;

  @include --large {
    flex-direction: initial;
  }

  .affordable_card_container:not(:first-child) {
    margin-top: 2.5rem;

    @include --large {
      margin-top: 0;
    }
  }
}

.affordable_card_container {
  color: var(--white);
  border: 2px solid black;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.card_name {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
