@import '../../styles/breakpoint.scss';
@import '../../styles/color.scss';

.image_background {
  background: url('../../images/black-blue-and-red-graph-illustration-186461.jpg');
  background-size: cover;
  background-position: 50% 50%;
  height: 75vh;
  z-index: -9999;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
}

.inner_image_background {
  margin-left: 2rem;
  margin-right: 2rem;

  @include --large {
    max-width: 80rem;
    margin: 0 auto;
  }
}

.h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.15;
  color: var(--light-green);
  text-align: center;
  margin-bottom: 0rem;

  span {
    @include --large {
      line-height: 1.15;
      text-align: center;
    }
  }

  @include --large {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
}

.h4 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

.h5 {
  font-size: 1.25rem;
}

.header_h5 {
  margin-top: 2rem;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
  border: 1px solid var(--light-green);
  background-color: var(--light-green);
  max-width: 17.625rem;
  margin: auto;
  color: var(--blue);
  font-weight: 800;
  font-size: 1.25rem;
  margin-top: 2.5rem;
  filter: brightness(90%);

  &:hover {
    color: var(--blue);
    filter: brightness(110%);
  }
}

.benefit_container {
  @include --medium {
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
  }
}

.individual_container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3.75rem 2.5rem;

  @include --large {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.text_p {
  text-align: center;
  font-size: 1.25rem;
}

.benefit_inner_container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--dark-black);
}

.h5 {
  font-size: 1.75rem;
  text-align: center;
}

.benefit_image {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
