@import '../../styles/breakpoint.scss';
@import '../../styles/color.scss';

.community_container {
  background-color: var(--dark-black);
  color: var(--white);
}

.community_inner_container {
  @include --large {
    margin: 0 auto;
    max-width: 1280px;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.h3 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.15;
  color: var(--light-green);
  text-align: center;
  margin-bottom: 5rem;
  padding-top: 5rem;
}

.desktop_view {
  display: none;

  @include --large {
    display: block;
  }
}

.mobile_view {
  text-align: center;
  @include --large {
    display: none;
  }
}

.desktop_customer_name {
  text-align: right;
  margin-top: 1.5rem;
}

.user_comment {
  font-size: 1.5rem;
  line-height: 1.5;
}

.mobile_user_comment {
  font-size: 1.5rem;
  line-height: 1.5;
}

.mobile_customer_name {
  text-align: right;
  margin-right: 1.5rem;
}

.mobile_container {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding-bottom: 5rem;
}
