.flow_list {
  display: flex;
  align-items: center;
  background-color: #343333;
  color: #ffffff;
  height: 3.125rem;
}

.time {
  width: 7.5%;
  padding-left: 1.5rem;
}

.ticker {
  width: 5%;
}

.date_expiration {
  width: 7.5%;
}

.strike_price {
  width: 6.5%;
}

.put_call {
  width: 5%;
}

.option_activity_type {
  width: 5%;
}

.description {
  width: 10%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.sentiment {
  width: 7.5%;
}

.cost_basis {
  width: 10%;
}

.call_green {
  color: green;
}

.put_red { 
  color: red;
}

.OI {
  width: 7.5%;
  margin-right: 0.5rem;
}

.ticker {
  cursor: pointer;
}

.input_search {
  display: flex;
  justify-content: flex-end;
}

.ul_list {
  max-width: 1260px;
  margin: auto;
  max-height: 75vh;
  overflow: auto;
}

.golden_sweep {
  background: rgb(34,36,0);
  background: linear-gradient(180deg, rgba(34,36,0,1) 0%, rgb(255,223,0) 100%, rgba(0,212,255,1) 100%);
}

@media only screen and (min-width: 1024px) {
  .flow_list {
    max-width: 1260px;
    margin: auto;
  }
}
