.container {
  display: flex;
}

.bg_color {
  background-color: #232870;
}

.h2 {
  color: #93dac5;
  font-family: 'Dosis', sans-serif;
  font-size: 3.125rem;
  text-transform: uppercase;
}

.h5 {
  font-size: 1.5rem;
  font-family: 'Dosis', sans-serif;
  color: white;
}

.header_container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.img {
  width: 100%;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: #93dac5;
  border-radius: 3px 3px 3px 3px;
  max-width: 170px;
  padding: 10px 15px;
  margin: 0 auto;
}

.fa_icons {
  flex-direction: column;
}

.span {
  color: #adadad;
  margin-bottom: 1.5rem;
}

.margin_tb_16 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.fa_icon_containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.font_p {
  color: #ffffff;
  text-align: center;
}

.font_span {
  color: #ffffff;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.button {
  display: inline-block;
  font-family: inherit;
  background-color: #13aff0;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 14px 20px;
  border: 0;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1;
}
.margin_top_24 {
  margin-top: 1.5rem;
}

.fa_icons {
  margin-top: 3.75rem;
  margin-bottom: 1.5rem;
}

.bg_blue_color {
  background-color: #121438;
}

/* large screen */
@media only screen and (min-width: 1024px) {
  .header_container {
    margin-top: 2.5rem;
  }

  .container {
    max-width: 78.75rem;
    margin: 0 auto;
    flex-direction: column;
  }

  .fa_icons {
    display: flex;
    flex-direction: initial;
  }
}
