@import '../../styles/color.scss';
@import '../../styles/breakpoint.scss';
@import '../../styles/positioning.scss';

.flow_list {
  display: flex;
  align-items: center;
  background-color: #1d173d;
  color: #ffffff;
  height: 65px;
  border-top: 1px solid #807774;
  padding: 1rem 1.5rem;

  &:last-child {
    border-bottom: 1px solid #807774;
  }
}

.desktop_input {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  @include --large {
    display: flex;
    justify-content: flex-end;
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 3.75rem;
  }
}

.row_list {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background: #2d2362;
}

.container_list {
  border: 1px solid #ccc;
  max-width: 1260px;
  margin: 0 auto;
}

.row_name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  width: 10%;
}

.time {
  width: 8%;
  padding-left: 1rem;
}

.ticker {
  width: 5%;
  margin-left: 1.5rem;
  cursor: pointer;
}

.date_expiration {
  width: 7.5%;
}

.strike_price {
  width: 6.5%;
  margin-left: 1.75rem;
}

.put_call {
  width: 5%;
}

.option_activity_type {
  width: 5%;
}

.description {
  text-transform: uppercase;
  width: 10%;
  margin-right: 0.5rem;
  margin-left: 2rem;
}

.sentiment {
  width: 7.5%;
}

.cost_basis {
  width: 7%;
  margin-left: 0.25rem;
}

.call_green {
  color: #00c853 !important;
}

.put_red {
  color: #f44336 !important;
}

.OI {
  width: 5%;
}

.ticker {
  cursor: pointer;
}

.input {
  height: 35px;
  width: 15rem;
  outline: none;
  border: 0;

  @include --large {
    width: auto;
    height: 22px;
    max-height: 22px;
  }
}

.input {
  background: #fff;
  border: none;
  padding: 2px;
  display: block;
  position: relative;
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
}

.input {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: block;
  padding: 15px 10px;
  background: #fff;
  z-index: 100;
  border: none;
  width: 100%;
  position: relative;
  transition: all ease-in-out 0.25s;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  height: 40px;
  border-width: 0;
  border-radius: 0;
}

.desktop_input_search {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-height: 2.5rem;
  position: relative;
  outline: none;
  color: #333;
  padding: 1rem 0.5rem;
  border-width: 0;
  position: relative;
}

.input_search {
  display: flex;
  justify-content: space-around;
}

.input.active input {
  background: #fff;
  color: #333;
  transition: all ease-in-out 0.25s;
}

.input:after {
  bottom: -100%;
  right: -100%;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #36b4c7;
  transition: all ease-in-out 0.25s;
}

.input.active:after {
  right: 0;
  bottom: 0;
  transition: all ease-in-out 0.25s;
}
.input:before {
  top: -100%;
  left: -100%;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #36b4c7;
  transition: all ease-in-out 0.25s;
}
.input.active:before {
  left: 0;
  top: 0;
  transition: all ease-in-out 0.25s;
}

.mobile_button {
  height: 35px;
  margin-left: -14px;
  outline: none;
  border: none;
  border-left: 1px solid black;
}

.mobile_search_button {
  height: 40px;
  width: 5rem;
  background: #23eaa4;
  padding: 1rem 2rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  max-width: 270px;
  text-align: center;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.button {
  height: 40px;
  background: #23eaa4;
  padding: 1rem 2rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  max-width: 270px;
  text-align: center;
  letter-spacing: 0.04em;
  margin: auto;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.filter_section {
  margin-right: 1.5rem;
}

.filter_button {
  height: 40px;
  background: #23eaa4;
  padding: 1rem 2rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  max-width: 270px;
  text-align: center;
  letter-spacing: 0.04em;
  margin: auto;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  border-radius: 12px;

  &:hover {
    opacity: 0.7;
  }
}

.ul_list {
  padding: 0;
  margin: 0;

  @include --large {
    max-width: 1260px;
    height: 900px;
    overflow: auto;
  }
}

.big_buy {
  background: linear-gradient(
    180deg,
    rgba(20, 20, 18, 0) 0%,
    rgba(0, 255, 255, 0.16010154061624648) 100%
  );
}

.golden_sweep {
  background: rgb(34, 36, 0);
  background: linear-gradient(
    180deg,
    rgba(20, 20, 18, 0) 0%,
    rgba(186, 187, 2, 0.5) 100%
  );
}

.purple_sweep {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(145, 2, 187, 0.10968137254901966) 20%
  );
}

.desktop_view {
  padding-bottom: 2.5rem;
  display: none;
  @include --large {
    display: block;
    padding-top: 1.5rem;
  }
}

.mobile_view {
  padding-bottom: 2.5rem;

  @include --large {
    visibility: hidden;
    display: none;
  }
}

.flow_background_color {
  background: #211a47;
}

@media only screen and (min-width: 1024px) {
  .flow_list {
    max-width: 1260px;
    margin: auto;
  }
}

.desktop_row_name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  width: 10%;
  color: #e6e6e6;
}

/* Mobile styles */
.mobile_results {
  color: white;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  max-height: 35px;
}

.mobile_results_input {
  display: flex;
  padding: 1.5rem 0;
  justify-content: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.display_flex {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.option_flow_h5 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #fff;
  line-height: 26px;
  letter-spacing: 0.04em;
}

.mobile_time {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  font-size: 1rem;
  color: lightgray;
}

.desktop_input_button {
  display: flex;
  position: relative;
}

.input_field_background {
  background-color: #2d2362;
  max-width: 1260px;
  margin: 0 auto 1rem;
  padding: 1rem 2.5rem;
}

.space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_flow_list {
  background-color: #2d2362;
  color: #fff;
  align-items: center;
  padding: 0.75rem;
  margin: 0.5rem 0.5rem 0;
}

.desktop_ticker {
  cursor: pointer;
  margin: 1rem;
  color: #cfd6d9;
  padding: 0.25rem 0.5rem;
  font-size: 16px;
  width: 5rem;
  height: 2rem;
  border-radius: 15px;
  margin-right: 2.25rem;
  @extend %center-children;
}

.mobile_ticker {
  color: #cfd6d9;
  padding: 0.25rem 0.5rem;
  width: 4rem;
  height: 2rem;
  border-radius: 15px;
  cursor: pointer;
  @extend %center-children;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
}

.mobile_ticker_call {
  background-color: #00c853;
}

.desktop_call_put {
  padding: 8px;
  border-radius: 1rem;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.mr_5 {
  margin-right: 0.5rem;
}

.mobile_ticker_put {
  background-color: #f44336;
}

.mobile_ticker_green_color {
  color: #06420e !important;
  filter: brightness(1.75);
}

.mobile_ticker_red_color {
  color: #bf220e !important;
  filter: brightness(1.75);
}

.mobile_lower_section {
  font-size: 0.75rem;
  font-weight: 800;
}

.mobile_flow_item_container {
  margin-right: 0.5rem;
}

.close_icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: -0.5rem;
}

.df {
  display: flex;
  position: relative;
}

.d_flex_space_between {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-top: 1rem;

  &:last-child {
    margin-bottom: 0.5rem;
  }
}

.desktop_close_icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: -0.5rem;
}

.desktop_close_icon:after {
  content: 'X';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background-color: grey;
  right: 9rem;
  top: 0.25rem;
  bottom: 0;
  margin: auto;
  padding: 6px 7px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
  z-index: 9999;
}

.close_icon:after {
  content: 'X';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background-color: grey;
  right: 6rem;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 6px 7px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
  z-index: 9999;
}

.mobile_cost_basis {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  font-size: 18px;
  margin-top: 0.75rem;
}

.flow_item {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #888888;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.flow_result {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #e6e6e6;
  margin-top: 0.5rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.mobile_cost_call {
  color: #0b8319 !important;
}

.no_options_found {
  color: white;
  text-align: center;
  margin-top: 5rem;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  line-height: 1.5;
  @include --large {
    font-size: 2rem;
  }
}

.mobile_cost_put {
  color: #bf220e !important;
}

.mobile_option_data_container {
  padding-left: 0;
  align-items: normal;
}
