@import '../../styles/color.scss';
@import '../../styles/breakpoint.scss';
@import '../../styles/positioning.scss';

.flow_list {
  display: flex;
  align-items: center;
  background-color: var(--c-flow-background);
  color: #ffffff;
  height: 3.125rem;
  border-top: 1px solid #807774;
  &:last-child {
    border-bottom: 1px solid #807774;
  }
}

.desktop_input {
  @include --large {
    display: flex;
    justify-content: flex-end;
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 3.75rem;
  }
}

.row_list {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.row_name {
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.time {
  width: 7.5%;
  padding-left: 1.5rem;
}

.ticker {
  width: 5%;
  margin-left: 1.5rem;
  cursor: pointer;
}

.date_expiration {
  width: 7.5%;
}

.strike_price {
  width: 6.5%;
}

.put_call {
  width: 5%;
}

.option_activity_type {
  width: 5%;
}

.description {
  width: 10%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.sentiment {
  width: 7.5%;
}

.cost_basis {
  width: 8%;
}

.call_green {
  color: green;
}

.put_red {
  color: red;
}

.OI {
  width: 5%;
}

.ticker {
  cursor: pointer;
}

.input {
  outline: none;
  border: 0;
}

.button {
  height: 22px;
}

.input_search {
  display: flex;
  justify-content: flex-end;
  max-height: 2.5rem;
  margin-left: 4rem;
  margin-bottom: 0.5rem;
}

.ul_list {
  padding: 0;
  margin: 0;
  min-height: 60vh;
  @include --large {
    max-width: 1260px;
    margin: 0 auto 2.5rem;
    height: 90vh;
    overflow: auto;
  }
}

.big_buy {
  background: linear-gradient(
    180deg,
    rgba(20, 20, 18, 0) 0%,
    rgba(0, 255, 255, 0.16010154061624648) 100%
  );
}

.golden_sweep {
  background: rgb(34, 36, 0);
  background: linear-gradient(
    180deg,
    rgba(20, 20, 18, 0) 0%,
    rgba(186, 187, 2, 0.1825105042016807) 100%
  );
}

.purple_sweep {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(145, 2, 187, 0.10968137254901966) 20%
  );
}

.desktop_view {
  padding-bottom: 2.5rem;
  display: none;
  @include --large {
    display: block;
  }
}

.mobile_view {
  margin-top: 0.5rem;
  @include --large {
    display: none;
  }
}

.flow_background_color {
  background-color: var(--light-black);
}

@media only screen and (min-width: 1024px) {
  .flow_list {
    max-width: 1260px;
    margin: auto;
  }
}

/* Mobile styles */
.mobile_results {
  color: white;
  margin-right: 1rem;
}

.mobile_results_input {
  display: flex;
  padding: 1.5rem 0;
  justify-content: center;
}

.display_flex {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.mobile_time {
  font-size: 1rem;
  color: lightgray;
}

.space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_flow_list {
  background-color: var(--c-flow-background);
  color: #fff;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid #807774;
  &:last-child {
    border-bottom: 1px solid #807774;
  }
}

.desktop_ticker {
  cursor: pointer;
  margin: 1rem;
  color: #cfd6d9;
  padding: 0.25rem 0.5rem;
  font-size: 16px;
  width: 5rem;
  height: 2rem;
  border-radius: 15px;
  @extend %center-children;
}

.mobile_ticker {
  color: #cfd6d9;
  padding: 0.25rem 0.5rem;
  font-size: 16px;
  width: 5rem;
  height: 3rem;
  border-radius: 15px;
  cursor: pointer;
  @extend %center-children;
}
.mobile_ticker_call {
  background-color: #06420e;
}

.mobile_ticker_put {
  background-color: #bf220e;
}

.mobile_ticker_green_color {
  color: #06420e !important;
  filter: brightness(1.75);
}

.mobile_ticker_red_color {
  color: #bf220e !important;
  filter: brightness(1.75);
}

.mobile_lower_section {
  font-size: 0.75rem;
  font-weight: 800;
}

.mobile_flow_item_container {
  font-size: 14px;
  color: #807774;
  margin-top: 0.5rem;
  margin-right: 0.75rem;
}

.mobile_cost_basis {
  font-size: 18px;
  margin-top: 0.75rem;
}

.flow_item {
  margin-top: 0.25rem;
  text-transform: capitalize;
}

.flow_result {
  margin-top: 0.5rem;
  color: white;
}

.mobile_cost_call {
  color: #0b8319 !important;
}

.no_options_found {
  color: white;
  text-align: center;
  margin-top: 5rem;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  line-height: 1.5;
  @include --large {
    font-size: 2rem;
  }
}

.mobile_cost_put {
  color: #bf220e !important;
}

.mobile_option_data_container {
  padding-left: 0;
  align-items: normal;
}
