@import '../styles/breakpoint.scss';

:root {
  --short-stuff: 3rem;
}

.logo {
  height: var(--short-stuff);
  margin-top: 0.5rem;
}

.menu_bar {
  margin: auto !important;
  margin-bottom: 0 !important;
  margin-left: 5rem;
  margin-right: 5rem;
  max-width: 1280px;
  border-bottom: 0 !important;

  a {
    color: black !important;
    font-weight: bold !important;
  }
}

.page_container {
  margin-top: 4rem;

  @include --medium {
    margin-top: 5rem;
  }

  @include --large {
    margin-top: 7.5rem;
  }
}
