@import '../../styles/color.scss';
@import '../../styles/breakpoint.scss';
@import '../../styles/positioning.scss';

.container {
  margin-top: 12.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.form_container {
  height: 100vh;
  margin: 0 auto;
  max-width: 600px;
}
